.heading {
    text-align: center;
    color: black;
}

table {
    border-collapse: collapse;
    width: 60%;                /* Optional: Set a width for the table */
    margin: 0 auto;            /* Horizontal centering */
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}