body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

h2{
    color: red;
}

.Expenses, .balance-sheet, .logout {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #007bff;
    padding: 10px 20px;
    border: 1px solid #007bff;
    border-radius: 5px;
    background-color: #fff;
    display: inline-block;
}

a:hover {
    background-color: #007bff;
    color: #fff;
}