<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/balance-sheet.css">
    <title>Balance Sheet</title>
</head>
<body>
    <h1 class="heading">All Expenses:</h1>
    
    <table border="1">
        <tr>
            <th>Amount</th>
            <th>Description</th>
            <th>Added By</th>
        </tr>
        {% for transaction in Transactions %}
        <tr>
            <td>{{ transaction[0] }}</td> 
            <td>{{ transaction[1] }}</td>
            <td>{{ transaction[2] }}</td> 

        </tr>
        {% endfor %}
    </table>
    
</body>
</html>
