<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <title>Document</title>
</head>
<body>
    <h1>Hello, {{ name }}</h1>

    <h2>NOTE : Add your phone number too,if you were the part of expense</h2>

    <h3> Your phone number is {{phone}}</h3>
    <div class="Expenses">
        <a href="split-expenses">Split Expenses</a>
    </div>
    <div class="balance-sheet">
        <a href="balance-sheet">Balance Sheet</a>
    </div>
    <div class="logout">
        <a href="/logout"> Logout</a>
    </div>
</body>
</html>