<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Split Expenses</title>
    <link rel="stylesheet" href="../static/split.css">
</head>
<body>
    <div class="container">
        <h1>Split Expenses</h1>
        <p>Select a method to split the expenses:</p>
        <div class="buttons">
            <a href="equal" class="split-method">Equal</a>
            <a href="amount" class="split-method">By Amount</a>
            <a href="percentage" class="split-method">By Percentage</a>
        </div>
        
    </div>
</body>
</html>
